go 1.20

use (
	./hello-world
	./lasagna
	./weather-forecast
	./cars-assemble
	./annalyns-infiltration
	./welcome-to-tech-palace
	./vehicle-purchase
	./party-robot
	./card-tricks
	./blackjack
	./need-for-speed
	./animal-magic
	./bird-watcher
	./lasagna-master
	./booking-up-for-beauty
	./gross-store
	./chessboard
	./election-day
	./elons-toys
	./interest-is-interesting
	./logs-logs-logs
	./parsing-log-files
	./airport-robot
	./census
	./meteorology
	./sorting-room
	./the-farm
	./expenses
)
